body {
	margin: 0px;
	padding: 0px;
	font-family: serif;
}

header {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(image1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul {
	list-style-type: none;
	float: right;
	margin-top: 20px;
}

ul li {
	display: inline-block;
}

ul li a {
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s;
}

ul li a:hover {
	background-color: white;
	color: black;
}

ul li.active a {
	background-color: white;
	color: black;
}

main {
	max-width: 100%;
	margin: auto;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title h1 {
	color: white;
	font-size: 66px;
	text-decoration: none;
	font-family: apple chancery;
}

.button {
	position: absolute;
	top: 65%;
	left: 50%;
	color: white;
	transform: translate(-50%, -50%);
}

.btn {
	border: 1px solid white;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	transition: 0.6s;
}

.btn:hover {
	background-color: white;
	color: black;
}

article {
	width: 70%;
	background-color: #FCFBFA;
	border-color: black;
	float: left;
}

.content h3 {
	background-color: #D0C9C0;
	padding: 10px;
	padding-left: 10px;
}

.content p {
	padding-left: 10px;
}

.myform {
	padding-left: 10px;
}

form {
	padding: 10px;
}

aside {
	background-color: #F0ECE3;
	justify-content: center;
	width: 30%;
	float: right;
}

.sidebar {
	margin: 20px;
	padding-top: 20px;
	padding-bottom: 864px;
}

.sdb {
	border: 1px solid black;
	padding: 10px 20px;
	color: black;
	text-decoration: none;
	transition: 0.6s;
}

.sdb:hover {
	background-color: black;
	color: white;
}

footer {
	clear: both;
    position: relative;
	width: 100%;
	background-color: #5B5B5B;
	color: white;
	padding: 5px;
	padding-left: 650px;
	justify-content: left;
}

.btn-sumbit {
	background-color: #999999;
	padding: 12px 30px;
}

.btn-sumbit:focus,
.btn-sumbit:hover {
	background-color: #676767;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #D0C9C0;
    color: #141414;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #D0C9C0;
}