body {
       background-color: #dddddd;
    }
#content {
       margin:auto;
       width: 960px;
}
#header {
       width: 100%
       float: left;
       height: 300px;
       background: url(planet.jpg);
}
#news {
       width: 31%;
       height: 100%;
       float: right;
       background-color: #C0C0C0;
       color: black;
       padding: 23px;
}
#menu {
       width: 60%;
       height: 100%;
       float: left;
       background-color: white;
       color: black;
       padding: 20px;
       padding-bottom: 23px;
}
#footer {
       width: 100%;
       height: 40px;
       float: left;
       background-color: #555;
       color: white;
}
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #000;
}
.active {
  background-color: #04AA6D;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}