body {
	margin: 0px;
	padding: 0px;
	font-family: serif;
}

header {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(image.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul {
	list-style-type: none;
	float: right;
	margin-top: 20px;
}

ul li {
	display: inline-block;
}

ul li a {
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s;
}

ul li a:hover {
	background-color: white;
	color: black;
}

ul li.active a {
	background-color: white;
	color: black;
}

main {
	max-width: 100%;
	margin: auto;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title h1 {
	color: white;
	font-size: 66px;
	text-decoration: none;
	font-family: apple chancery;
}

.button {
	position: absolute;
	top: 65%;
	left: 50%;
	color: white;
	transform: translate(-50%, -50%);
}

.btn {
	border: 1px solid white;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	transition: 0.6s;
}

.btn:hover {
	background-color: white;
	color: black;
}

article {
	width: 70%;
	height: 100%;
	background-color: white;
	border-color: black;
	float: left;
}

.content h3 {
	background-color: #C19898;
	padding: 5px;
	padding-left: 10px;
}

.content p {
	padding-left: 10px;
}

.myform {
	padding-left: 10px;
}

form {
	padding: 10px;
}

aside {
	background-color: #EBEBE3;
	justify-content: center;
	width: 30%;
	height: 100%;
	float: right;
}

.sidebar {
	margin: 20px;
	padding-top: 20px;
	padding-bottom: 112px;
}

.sdb {
	border: 1px solid black;
	padding: 10px 20px;
	color: black;
	text-decoration: none;
	transition: 0.6s;
}

.sdb:hover {
	background-color: black;
	color: white;
}

footer {
	width: 100%;
	background-color: #4A4A48;
	color: white;
	padding: 5px;
	padding-left: 10px;
	padding-top: 10px;
	justify-content: left;
}

#form-contact {
	width: 100%;
	max-width: 680px;
	padding: 45px 45px 30px;
}

.bg {
	background-color: rgba(255, 255, 255, 0.8);
}

.form-group {
	max-width: 355px;
}

.form-control {
	background: transparent;
	border-color: #999999;
	padding: 15px 10px;
	margin-bottom: 10px;
}

.btn-sumbit {
	background-color: #999999;
	padding: 12px 30px;
}

.btn-sumbit:focus,
.btn-sumbit:hover {
	background-color: #676767;
}